# MongoClient: Settings for connection to MongoDB.
MongoClient:

  # MongoClient.uri: Required full MongoDB connection string.
  # Example:
  #   mongodb://dp_user:dp_pass@mongo-0.mongo-headless.ns.svc.cluster.local:27017,\
  #   mongo-1.mongo-headless.ns.svc.cluster.local:27017,\
  #   mongo-2.mongo-headless.ns.svc.cluster.local:27017/?replicaSet=rs0&authSource=admin
  uri: ${DP_MONGO_DB_URI:mongodb://admin:admin@localhost:27017/}

# GrpcClient: General settings for gRPC clients.
GrpcClient:

  # GrpcClient.ingestionConnectString: Client connect string for Ingestion Service.
  ingestionConnectString: ${DP_GRPC_CLIENT_INGESTION_CONNECT_STRING:localhost:50051}

  # GrpcClient.queryConnectString: Client connect string for Query Service.
  queryConnectString: ${DP_GRPC_CLIENT_QUERY_CONNECT_STRING:localhost:50052}

  # GrpcClient.annotationConnectString: Client connect string for Annotation Service.
  annotationConnectString: ${DP_GRPC_CLIENT_ANNOTATION_CONNECT_STRING:localhost:50053}

  # GrpcClient.ingestionStreamConnectString: Client connect string for Ingestion Stream Service.
  ingestionStreamConnectString: ${DP_GRPC_CLIENT_INGESTION_STREAM_CONNECT_STRING:localhost:50054}

  # GrpcClient.keepAliveTimeSeconds: Sets the time (in seconds) since the last receipt before sending a keepalive ping.
  keepAliveTimeSeconds: ${DP_GRPC_CLIENT_KEEP_ALIVE_TIME_SECONDS:45}

  # GrpcClient.keepAliveTimeoutSeconds: Sets the time (in seconds) to wait for a response after sending a keepalive ping.
  keepAliveTimeoutSeconds: ${DP_GRPC_CLIENT_KEEP_ALIVE_TIMEOUT_SECONDS:20}

  # GrpcClient.keepAliveWithoutCalls: If true, enables sending keepalive pings even when no active RPCs are present on the channel.
  keepAliveWithoutCalls: ${DP_GRPC_CLIENT_KEEP_ALIVE_WITHOUT_CALLS:true}

# GrpcServer: General settings for running gRPC servers.
GrpcServer:

  # GrpcServer.maxMessageSizeBytesIncoming: Limit on incoming gRPC message size in bytes, enforced by gRPC framework.
  incomingMessageSizeLimitBytes: ${DP_GRPC_SERVER_INCOMING_MESSAGE_SIZE_LIMIT_BYTES:4096000}

  # GrpcServer.keepAliveTimeSeconds: Sets the time (in seconds) without read activity before a keepalive ping is sent.
  keepAliveTimeSeconds: ${DP_GRPC_SERVER_KEEP_ALIVE_TIME_SECONDS:60}

  # GrpcServer.keepAliveTimeoutSeconds: Sets the time (in seconds) to wait for read activity after sending a keepalive ping.
  # If no activity is detected within this timeout, the connection is closed.
  keepAliveTimeoutSeconds: ${DP_GRPC_SERVER_KEEP_ALIVE_TIMEOUT_SECONDS:20}

  # GrpcServer.permitKeepAliveTimeSeconds: Sets the minimum keepalive time (in seconds) that clients are allowed to configure.
  # This prevents clients from sending pings too frequently.
  permitKeepAliveTimeSeconds: ${DP_GRPC_SERVER_PERMIT_KEEP_ALIVE_TIME_SECONDS:30}

  # GrpcServer.permitKeepAliveWithoutCalls: If true, allows clients to send keepalive pings even when there are no active RPCs on the connection.
  permitKeepAliveWithoutCalls: ${DP_GRPC_SERVER_PERMIT_KEEP_ALIVE_WITHOUT_CALLS:true}

# IngestionServer: Settings for the Ingestion server process.
IngestionServer:

  # IngestionServer.port: Network port for Ingestion Service gRPC.
  port: ${DP_INGESTION_SERVER_PORT:50051}

# IngestionHandler: Settings for the Ingestion Service request handler.
IngestionHandler:

  # IngestionHandler.numWorkers: Number of worker threads used by the Ingestion Service request handler.
  # This parameter might take some tuning on deployments to get the best performance.
  numWorkers: ${DP_INGESTION_HANDLER_NUM_WORKERS:7}

  SourceMonitor:

    # IngestionHandler.SourceMonitor.validatePvs: True if the handler should check that subscribed PVs exist in the
    # archive, false otherwise.
    validatePvs: ${DP_INGESTION_HANDLER_SOURCEMONITOR_VALIDATE_PVS:true}

# IngestionBenchmark: Settings for the Ingestion Service performance benchmark application.
IngestionBenchmark:

  # IngestionBenchmark.grpcConnectString: String used for gRPC connection to Ingestion Service including "host:port".
  grpcConnectString: "${DP_INGESTION_BENCHMARK_GRPC_CONNECT_STRING:localhost:60051}"

  # IngestionBenchmark.startSeconds: Specifies fixed start time for data created by Ingestion benchmark application.
  startSeconds: ${DP_INGESTION_BENCHMARK_START_SECONDS:1698767462}

# QueryServer: Settings for the Query server process.
QueryServer:

  # QueryServer.port: Network port for Query Service gRPC.
  port: ${DP_QUERY_SERVER_PORT:50052}

# QueryHandler: Settings for the Query Service request handler.
QueryHandler:

  # QueryHandler.numWorkers: Number of worker threads used by the Query Service request handler.
  # This parameter might take some tuning on deployments to get the best performance.
  numWorkers: ${DP_QUERY_HANDLER_NUM_WORKERS:7}

  # QueryHandler.outgoingMessageSizeLimitBytes: Limit on outgoing gRPC message size in bytes, applied by query handler.
  # gRPC framework only controls incoming message size, outgoing message size is unlimited, so we are adding this to
  # control the size of messages for query responses.
  outgoingMessageSizeLimitBytes: ${DP_QUERY_HANDLER_OUTGOING_MESSAGE_SIZE_LIMIT_BYTES:4096000}

# QueryBenchmark: Settings for the Query Service performance benchmark applications.
QueryBenchmark:

  # QueryBenchmark.grpcConnectString: String used for gRPC connection to Query Service including "host:port".
  grpcConnectString: "${DP_QUERY_BENCHMARK_GRPC_CONNECT_STRING:localhost:50052}"

# annotationServer: Settings for the annotation server process.
AnnotationServer:

  # annotationServer.port: Network port for Annotation Service gRPC.
  port: ${DP_ANNOTATION_SERVER_PORT:50053}

# annotationHandler: Settings for the annotation Service request handler.
AnnotationHandler:

  # annotationHandler.numWorkers: Number of worker threads used by the annotation Service request handler.
  # This parameter might take some tuning on deployments to get the best performance.
  numWorkers: ${DP_ANNOTATION_HANDLER_NUM_WORKERS:7}

# Export: Settings for the export mechanism.
Export:

  # serverMountPoint: Target base directory mounted to machine running Annotation Service for export output files.
  # Setting must be specified to use the export feature.  Export requests will return an error response if not specified.
  # E.g., "/opt/dp/export".
  serverMountPoint: ${DP_EXPORT_SERVER_MOUNT_POINT:/tmp}

  # shareMountPoint: Client-accessible directory for accessing export output files, if different than serverMountPoint.
  # Defaults to serverMountPoint if not specified.
  # E.g., "/share/dp/export".
  shareMountPoint: ${DP_EXPORT_SHARE_MOUNT_POINT:${DP_EXPORT_SERVER_MOUNT_POINT:/tmp}}

  # urlBase: Optional base URL for accessing export output files.
  # Requires a web-server providing access to files at the specified location.
  # E.g., "https://www.facility.gov/dp/export".
  urlBase: ${DP_EXPORT_URL_BASE:http://localhost:8081}

  # tabularExportFileSizeLimitBytes: Specifies size limit in bytes for tabular export output files to avoid potential
  # out of memory issues in the service.  Limit applies to tabular export formats like csv and xlsx because a large
  # table data structure is created in memory before writing the file, but does not apply to bucketed export formats
  # like hdf5, because each bucket is written to file as it is accessed from the database without building
  # in-memory data strcutures.
  tabularExportFileSizeLimitBytes: ${DP_EXPORT_TABULAR_EXPORT_FILE_SIZE_LIMIT_BYTES:4096000}

# ingestionStreamServer: Settings for the ingestion stream server process.
IngestionStreamServer:

  # ingestionStreamServer.port: Network port for Ingestion Stream Service gRPC.
  port: ${DP_INGESTION_STREAM_SERVER_PORT:50054}

# ingestionStreamHandler: Settings for the Ingestion Stream Service request handler.
IngestionStreamHandler:

  # ingestionStreamHandler.numWorkers: Number of worker threads used by the Ingestion Stream Service request handler.
  # This parameter might take some tuning on deployments to get the best performance.
  numWorkers: ${DP_INGESTION_STREAM_HANDLER_NUM_WORKERS:7}

  # IngestionStreamHandler.EventMonitor: Settings for the Ingestion Stream handler's EventMonitor.
  EventMonitor:

    # IngestionStreamHandler.EventMonitor.maxMessageSizeBytes: Maximum message size in subscribeDataEvent() response stream.
    maxMessageSizeBytes: ${DP_INGESTION_STREAM_EVENTMONITOR_MAX_MESSAGE_SIZE_BYTES:4096000}

    # Settings for the EventMonitor's DataBuffers, for buffering PV subscription data.
    DataBuffer:

      # IngestionStreamHandler.EventMonitor.DataBuffer.flushIntervalMillis: Buffer flush interval in milliseconds.
      flushIntervalMillis: ${DP_INGESTION_STREAM_DATA_BUFFER_FLUSH_INTERVAL_MILLIS:500}

      # IngestionStreamHandler.EventMonitor.DataBuffer.maxBufferBytes: Max buffer size in bytes, will flush when size is reached.
      maxBufferBytes: ${DP_INGESTION_STREAM_DATA_BUFFER_MAX_BUFFER_BYTES:524288}

      # IngestionStreamHandler.EventMonitor.DataBuffer.maxBufferItems: Max buffer size in number of buckets, will flush when size is reached.
      maxBufferItems: ${DP_INGESTION_STREAM_DATA_BUFFER_MAX_BUFFER_ITEMS:50}

      # IngestionStreamHandler.EventMonitor.DataBuffer.ageLimitNanos: Default max age for buffered data in nanos, will flush when limit is reached.
      # Used for buffer size when event trigger time offset is non-negative.
      # 1 billion nanos == 1 second.
      ageLimitNanos: ${DP_INGESTION_STREAM_DATA_BUFFER_AGE_LIMIT_NANOS:2000000000}

      # IngestionStreamHandler.EventMonitor.DataBuffer.ageCushionNanos: Extra cushion added to buffer for event trigger with negative time offset.
      # Buffer age limit will be negative trigger time offset in nanos plus cushion.
      # 1 billion nanos == 1 second.
      ageCushionNanos: ${DP_INGESTION_STREAM_DATA_BUFFER_AGE_CUSHION_NANOS:1000000000}

    # Settings for the EventMonitor's TriggeredEventManager, for managing events after they are triggered.
    TriggeredEventManager:

      # IngestionStreamHandler.EventMonitor.TriggeredEventManager.eventExpirationNanos: How long after event end time
      # to remove the event from the TriggeredEventManager. End time is event trigger time offset plus duration.
      # 1 billion nanos == 1 second.
      eventExpirationNanos: ${DP_INGESTION_STREAM_TRIGGERED_EVENT_MANAGER_EVENT_EXPIRATION_NANOS:5000000000}

      # IngestionStreamHandler.EventMonitor.TriggeredEventManager.eventCleanupIntervalMillis: How often to check for
      # expired events, in milliseconds.
      # 1000 millis == 1 second.
      eventCleanupIntervalMillis: ${DP_INGESTION_STREAM_TRIGGERED_EVENT_MANAGER_EVENT_CLEANUP_INTERVAL_MILLIS:5000}
